<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans
	PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="lrdDao" class="org.limy.lrd.LrdDaoImpl">
		<property name="dataSource"><ref bean="dataSource"/></property>
		<property name="sqlMapClient"><ref bean="sqlMapClient"/></property>
	</bean>

</beans>
