<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>テンプレート編集</title>
<link href="style/maven-base.css" type="text/css" rel="stylesheet" />
<link href="style/maven-theme.css" type="text/css" rel="stylesheet" />
<link href="style/limy-theme.css" type="text/css" rel="stylesheet" />
<script>
function get(id) { return document.getElementById(id); }
</script>
</head>
<body>

<h1>テンプレート編集</h1>

<div style="margin-left: 10; margin-right: 10;">

<div align="right"><a href="admin.action">管理TOP</a></div>

<h2>スタイルシート</h2>

<a href="modifyTemplate.action?repositoryId=$repositoryId&file=style/maven-base.css">Maven-base</a><br>
<a href="modifyTemplate.action?repositoryId=$repositoryId&file=style/maven-theme.css">Maven-theme</a><br>
<a href="modifyTemplate.action?repositoryId=$repositoryId&file=style/print.css">印刷用</a><br>
<br>
<a href="modifyTemplate.action?repositoryId=$repositoryId&file=style/limy-theme.css">Limy-theme</a><br>

<h2>Velocity (HTML)</h2>

<a href="modifyTemplate.action?repositoryId=$repositoryId&file=vm/framed_html.vm">メインページ</a><br>
<a href="modifyTemplate.action?repositoryId=$repositoryId&file=vm/lrd-comment.vm">コメント欄</a><br>
<a href="modifyTemplate.action?repositoryId=$repositoryId&file=vm/allmenu.vm">全メニュー表示</a><br>
<a href="modifyTemplate.action?repositoryId=$repositoryId&file=vm/rightbar.vm">右バー</a><br>




</div>

</body>
</html>
