#macro(writeMenuRecursive $node)
	#if ($node.isFolder())
        <h5>
          $!Util.markStrongStart($node.path, $targetPath)<a href="${baseHref}/$node.path.relativePath">$Util.getIndexLrdTitle($node.path)</a>$!Util.markStrongEnd($node.path, $targetPath)
        </h5>
        <ul>
		#foreach ($child in $node.subNodes)
		  #if ($child.isFolder() || ($Util.isLrd($child.path) && !$Util.isIndex($child.path)))
          <li>
			#writeMenuRecursive($child)
		  </li>
		  #end
		#end
		</ul>
	#else
		$!Util.markStrongStart($node.path, $targetPath)<a href="${baseHref}/$!Util.getHtmlPath($node.path)">$!Util.getLrdTitle($node.path)</a>$!Util.markStrongEnd($node.path, $targetPath)
	#end
#end

<html>
<head>
  <title>$!title</title>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="$!{baseUrl}rss.action?id=$repositoryName">
  <style type="text/css" media="all">
	@import url("$!{resourceUrlBase}/style/maven-base.css");
	@import url("$!{resourceUrlBase}/style/maven-theme.css");
	@import url("$!{resourceUrlBase}/style/limy-theme.css");
  </style>
  <link rel="stylesheet" href="$!{resourceUrlBase}/style/print.css" type="text/css" media="print"></link>
  <meta http-equiv="Content-Type" content="text/html; charset=$charset"></meta>
  <meta name="author" content="Naoki Iwami"></meta>
  <script src="$!{resourceUrlBase}/script/framemenu.js" type="text/javascript"></script>
  <script src="$!{resourceUrlBase}/script/DWRActionUtil.js"></script>
  <script src="/limyweb-lrd/dwr/interface/DWRAction.js"></script>
  <script src="/limyweb-lrd/dwr/engine.js"></script>
  <script src="/limyweb-lrd/dwr/util.js"></script>
  <script>
	function get(id) { return document.getElementById(id); }
	function showComment() { get("commentH").style.display = "none"; get("commentS").style.display = "block"; }
	function hideComment() { get("commentS").style.display = "none"; get("commentH").style.display = "block"; }
	function init() { if (location.hash.length > 0) showComment(); g_resourceUrlBase = '$!{resourceUrlBase}'; }
  </script>
</head>

<body class="composite" onload="init()">

  <div id="banner">
    <table width="100%">
      <tr>
        <td><h1>$!title</h1></td>
      </tr>
    </table>
  </div>

  #if ($targetDomain)
  <div id="search">
    <form action="http://www.google.co.jp/search">
      <input type="hidden" name="sitesearch" value="$targetDomain">
      <input id="q" name="q">
      <input type="submit" id="btnG" value="Search by Google">
    </form>
  </div>
  #end

  <div id="leftColumn">
    <div align="right"><a href="javascript:minimize()"><img id="frameSizeBtn" border="0" src="$!{resourceUrlBase}/images/minimize.png" alt="minimize" title="minimize"></a></div>
    <div id="navcolumn">
      <div id="menuOverview">
		#writeMenuRecursive($menuNodes)
      </div>
      <div align="right"><a href="javascript:showFullMenu('$repositoryName')"><img id="showFullBtn" border="0" src="$!{resourceUrlBase}/images/expand.png" alt="expand/collapse" title="show full menu"></a></div>
    </div>
  </div>

  <div id="bodyColumn">
    <div class="contentBox">
    	$mainContents
    </div>

	#if ($enableComment)
		#parse("lrd-comment.vm")
    #end
	<div align=center class="underlineTitle"></div>
    
  </div>

  <div id="footer">


##    <a href="/limyweb-lrd/comment.action?lrdPath=$lrdPath#comment" style="text-decoration: underline;"><font size="+0">コメント</font></a>

	<div style="text-align: right; margin-right: 0%">
    #if ($lastUpdate)
	    Last update $lastUpdate&nbsp;&nbsp;&nbsp;&nbsp;
    #end
    Generated by Lrd-engine
    </div>

    <div class="xright">${startYear}-${nowYear}, $author</div>

	<br>
	<div id="login" align="right">
      <form action="$!{baseUrl}lrd.action" method="post">
        <input type="hidden" name="id" value="$repositoryName">
        <input type="hidden" name="lrdPath" value="$lrdPath">
        <input type="submit" id="btnG" value="edit">
      </form>
    </div>
    
    <div class="clear"><hr></hr></div>
    
  </div>
  <form id="dwrForm"><input type="hidden" name="methodName" value="getAllMenu"><input type="hidden" name="repositoryId" value="$repositoryName"></form>

</body>
</html>
